// Copyright (c) 2022 The Brave Authors. All rights reserved.
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this file,
// you can obtain one at http://mozilla.org/MPL/2.0/.

namespace leo {
<%= tokens.allTokens.map(prop => {
  return `constexpr int ${prop.name} = ${prop.value}`;
}).map(s => `${s};`).join('\n') %>
} // namespace leo
