.vscode
node_modules/
/build/
/icons-raw/
/icons-sf
/icons-skia
/react/
/svelte/
/shared/
/storybook-static/
/storyHelpers/
/tokens/
/types/
/web-components/

# Output
.output
/.svelte-kit
/*.tgz

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
