name: Audit Dependencies
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        id: setup-node
        with:
          node-version: '22.20.0'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
        run: |
          npm audit
