name: Audit Dependencies
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        id: setup-node
        with:
          node-version: '24.11.1'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
        run: |
          npm audit
