name: Update Icons

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

env:
  FIGMA_API_TOKEN: ${{ secrets.FIGMA_API_TOKEN }}

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Get npm cache directory path
        id: npm-cache-dir-path
        run: echo "dir=$(npm config get cache)" >> $GITHUB_OUTPUT

      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install dependencies
        run: |
          npm ci --ignore-scripts

      - name: Update icons
        run: |
          npm run update-icons > .update-icons-output

      - name: Check for changes
        id: check-icons
        run: |
          echo modified=$(`git status --porcelain | grep -q \.svg$` && echo true || echo false) >> $GITHUB_OUTPUT

      - name: Configure GPG
        if: steps.check-icons.outputs.modified == 'true'
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Create Pull Request
        if: steps.check-icons.outputs.modified == 'true'
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          add-paths: icons/
          commit-message: '[Icons]: Update icons from Figma'
          author: brave-support-admin <138038132+brave-support-admin@users.noreply.github.com>
          committer: brave-support-admin <138038132+brave-support-admin@users.noreply.github.com>
          branch: update-icons
          delete-branch: true
          title: '[Icons]: Update icons from Figma'
          body-path: .update-icons-output
          token: ${{ secrets.LEO_UPDATE_ICONS_PAT }}
